<div class="row">
    <div class="col-2 align-self-center"></div>
    <div class="col-2 order-3 align-self-center"></div>
    <div class="col-8 order-2 align-self-center">
        <div class="jumbotron">
            <h1 class="display-4">{{titulo}}</h1>
            <p class="lead">Comienza a escuchar música de tus artistas favoritos, y descubre nuevos hits...</p>
            <hr class="my-4">
            <p>Disfruta de la mejor Música en cualquier parte donde te encuentres..
            </p>
            <p class="lead">
                <a [routerLink]="['/artists/',1]" class="btn btn-primary btn-lg" href="#" role="button">Ver Artistas</a>
            </p>
        </div>
    </div>
</div>